<form class="new-post-form">
    <div class="form">
        <div class="title">
            Create New Post
        </div>

        <div class="form-content">
            <div>
                <label for="newpost-title">Title</label>
                <input type="text" id="newpost-title" />
            </div>
            <div>
                <label for="newpost-content">Content</label>
                <input type="text" id="newpost-content" />
            </div>

            <div>
                <button type="submit">Create</button>
            </div>
        </div>
    </div>
</form>

<script src="/javascript/add-post.js"></script>