<form class="edit-post-form">
    <div class="form">
        <div class="title">
            Edit Post
        </div>

        <div class="form-content">
            <div>
                <label for="editpost-title">Title</label>
                <input type="text" id="editpost-title" value="{{post.title}}"/>
            </div>
            <div>
                <label for="editpost-content">Content</label>
                <input type="text" id="editpost-content" value="{{post.content}}"/>
            </div>

            <div>
                <button type="submit">Update Post</button>
            </div>

            <div>
                <button type="button" class="delete-button">Delete</button>
            </div>
        </div>
    </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>