<ul class='post-list'>
    {{#each posts as |post|}}
    <li>
        <div class="post">
            <div class="title">
                <a href="" target="_blank">{{post.title}}</a>
                <span>Posted by {{post.user.username}} on {{post.created_at}}</span>
            </div>
            <div class="post-content">
                {{post.content}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>