<form class="form">
    <div class="title">
        Login In
    </div>
    <div class="form-content">
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login!</button>
        </div>
        <div>
            <a href="/signup">Sign up instead</a>
        </div>
    </div>
</form>