<form class="signup-form">
    <div class="form">
        <div class="title">
            Sign Up
        </div>
        <div class="form-content">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Sign up!</button>
            </div>
            <div>
                <a href="/login">Login instead</a>
            </div>
        </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>