{{> post-info post}}


<div class="comments">

  {{#each post.comments}}
  <section class="comment">


    <div class="title">
      <span>{{user.username}} on {{format_date created_at}}</span>
    </div>

    <div class="comment-content">
      {{comment_text}}
    </div>

  </section>
  {{/each}}

</div>

{{#if loggedIn}}
<form class="comment-form">
    <div class="form">
        <div class="comment-title"></div>
        <div class="form-content">
            <div>
                <p>Comment</p>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}