* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color: lightyellow;
  }

  header {
     background-color: black;
     color: lightyellow; 
  }

  nav {
      padding-top: 20px;
  }

  h1 {
      padding-left: 20px;
      padding-bottom: 20px;
  }

  h2 {
      padding-left: 20px;
  }

  ul {
      list-style-type: none;
      padding-right: 40px;
  }

  li {
      padding-bottom: 20px;
  }

  form {
      margin: 0 40px;
  }

  .nav-links {
      color: lightyellow;
      text-decoration: none;
      padding: 20px;
  }

  .post {
      border: solid 2px black;
      padding: 0;
      margin: 0 40px;
  }

  .post a {
      color: lightyellow;
      text-decoration: none;
  }

  .comments {
      padding-top: 20px;
      margin: 0 40px;
  }

  .comment {
    border: solid 2px black;
    padding: 0;
    margin: 0 40px 10px 40px;
  }

  .comment-content {
    padding: 10px;
  }

  .comment-title {
    background-color: black;
    padding-top: 40px;
  }

  .comment-form {
      padding-top: 20px;
  }

  .title {
      background-color: black;
      color: lightyellow;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 20px;
  }


  .title span {
      font-size: 15px;
  }

  .title a {
      text-decoration: none;
      color: lightyellow;
      font-size: 20px;
  }

  .post-content {
      padding: 10px;
  }

  .form {
      border: 2px solid black;
  }

  .form-content {
      padding: 10px 10px 10px 10px;
  }

  .form-content div {
      padding-bottom: 10px;
  }

  .form-content a {
      text-decoration: none;
  }

  .form-content input {
      display: block;
      width: 100%;
      padding: 10px 0;
  }

  .form-content button {
      width: 100%;
      background-color: grey;
      color: white;
      font-size: 20px;
      padding: 10px 0;
  }

  .form-content textarea {
      width: 100%;
  }

  .new-post {
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }

  .new-post button {
      background-color: black;
      color: lightyellow;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 20px;
  }

  .user-posts {
      list-style-type: none;
      margin-right: 40px;
  }